<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="static/css/tailwind.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/favicon.png"/>

    <title>Learsim Config</title>
</head>

<body class="m-20" onload="onload()">
    <script src="static/js/script.js"></script>
    <div class="container mx-auto">
        <h1 class="text-4xl">Leasim Automation Configuration</h1>
        <div class="grid grid-cols-6 ">
            <div class="col-start-1 col-span-4">
                <div class="container mx-auto">
                    <h1 class="text-2xl">Sequence</h1>
                    <div class=" h-48r container mx-auto bg-gray-100 m-3 p-3 rounded-lg shadow-lg inside-box-shadow overflow-auto"
                        id="steps">

                    </div>
                </div>
            </div>
            <div class="col-start-5 col-span-2">
                <div class="container mx-auto">
                    <h1 class="text-2xl">Config</h1>
                </div>
                <div class="container m-3">
                    <div class="container">
                        <span>Memory Adress:</span>
                        <input class="mt-1 relative rounded-md shadow-sm border-2 p-1 border-gray-100" type="text"
                            name="adress" id="adrinput" placeholder="0x1234567" /> <button style="visibility: hidden;"
                            class="shadow-lg rounded-lg p-2 m-2 px-2 bg-red-500 text-white hover:bg-white hover:shadow-md hover:text-red-500 transition-colors focus:outline-none duration-200 ring-0 focus:shadow-sm transition-shadow	" id="newoffsetcontainer"
                            onclick="changeToNewAdress()">Change To New Adress</button>

                    </div>
                    <div class="container">
                        <span>Port:</span>
                        <input class="mt-1 relative rounded-md shadow-sm border-2 p-1 border-gray-100" type="text"
                            name="adress" id="portinput" placeholder="2530" value="2530" />
                    </div>
                    <div>
                        <span>Active Sequence:</span>
                        <select class="mt-1 relative rounded-md shadow-sm border-2 p-1 border-gray-100"
                            id="activeSelect" onchange="changeActive(this,event)">

                        </select>
                    </div>
                    <div
                        class=" relative container h-96 container mx-auto bg-gray-100 m-3 p-3 rounded-lg shadow-md inside-box-shadow">
                        <p class="text-xl">Step Config</p>
                       
                        <p>Move</p>
                        <button disabled
                            class="disabled:opacity-50 rounded-full p-1 px-3 bg-blue-500 text-white focus:outline-none"
                            onclick="moveup()" id="moveupbtn">▲</button>
                        <button disabled
                            class="disabled:opacity-50 rounded-full p-1 px-3 bg-blue-500 text-white focus:outline-none"
                            onclick="movedown()" id="movedownbtn">▼</button>
                        </br>
                        <p>Type</p>
                        <select class="mt-1 relative rounded-md shadow-sm border-2 p-1 border-gray-100"
                            id="typeselector" disabled>
                            <option value="move">Move</option>
                            <option value="drag">Drag</option>
                            <option value="popout">Pop Out</option>
                            <option value="mouseClick">Mouse Click</option>
                            <option value="keyPress">Key Press</option>
                            <option value="delay">Delay</option>
                            <option value="combinationPress">Combination Key Press</option>
                        </select>
                        <div class="container" id="selectioncontainer">
                        </div>
                        <button disabled id="removestep"
                        class=" align-end absolute bottom-0 right-0 shadow-lg rounded-lg text-sm p-1 m-4 text px-3 bg-red-500 text-white hover:bg-white hover:shadow-md hover:text-red-500 transition-colors focus:outline-none duration-200 ring-0 focus:shadow-sm transition-shadow	"
                        onclick="removeStep()">Remove Step</button>
                    </div>
                    <button
                        class="shadow-lg rounded-lg p-2 m-2 text-xl px-10 bg-blue-500 text-white hover:bg-white hover:shadow-md hover:text-blue-500 transition-colors focus:outline-none duration-200 ring-0 focus:shadow-sm transition-shadow	"
                        onclick="saveConfig()">Save</button>
                </div>
            </div>
        </div>
        <button
            class="shadow-lg rounded-lg p-2 m-2 text-xl px-10 bg-red-500 text-white hover:bg-white hover:shadow-md hover:text-red-500 transition-colors focus:outline-none duration-200 ring-0 focus:shadow-sm transition-shadow	"
            onclick="getConfig()">Cancel</button>
            <button
            class="shadow-lg rounded-lg p-2 m-2 text-xl px-10 bg-green-500 text-white hover:bg-white hover:shadow-md hover:text-green-500 transition-colors focus:outline-none duration-200 ring-0 focus:shadow-sm transition-shadow	"
            onclick="addNewStep(true)">Add Step To Top</button>
            <button
            class="shadow-lg rounded-lg p-2 m-2 text-xl px-10 bg-green-500 text-white hover:bg-white hover:shadow-md hover:text-green-500 transition-colors focus:outline-none duration-200 ring-0 focus:shadow-sm transition-shadow	"
            onclick="addNewStep(false)">Add Step To Bottom</button>
            

    </div>

    </div>

</body>

</html>